{% extends 'blog/base.html' %}
{% load static %}
<!DOCTYPE html>
<html>
<head>
  <title>Django Girls blog</title>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
  <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="{% static 'blog/blog.css' %}">
</head>
<body>
  {% block content %}
  <div>
   <h1><a href="/">Haynes' Blog</a></h1>
  </div>
  {% if user.is_authenticated %}
     Hi {{ user.username }}.
     
  {% else %}
    {{ user.username }}
  {% endif %}

  {% for blog in blogs %}  
    <div>
      <p>Published:{{ blog.published_date  }} </p>
      <!--- <h2><a href="">{{ post.title}}</a></h2> --->
      <h1><a href="{% url 'detail' blog.pk %}">{{ blog.title }}</a></h1>
      <p>{{ blog.text|linebreaks}}</p>       
    </div>
  {% endfor %}
  {% endblock %}
</body>
</html>